/* ================= DARK MODE ================= */

.dark {
  background-color: #0f172a !important;
  color: white !important;
}

/* cards */
.dark .card {
  background-color: #1e293b !important;
  color: white !important;
  border: 1px solid #334155;
}

/* navbar fix */
.dark nav {
  background: #020617 !important;
}

/* inputs */
.dark input,
.dark select {
  background: #0b1220 !important;
  color: white !important;
  border: 1px solid #334155;
}

/* muted text */
.dark .text-muted {
  color: #94a3b8 !important;
}

/* buttons */
.dark .btn-light {
  background: #334155 !important;
  color: white !important;
}